<form action="searchdb" method="POST">
<h2 class="form-signin-heading">find Database</h2>
<div class="control-group" id="unda">
<input type="search" name="searchstr" value=""><br>

<button>search</button>
</div>
</form>